.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Login.css */


/* AdminDashboard.css */
.admin-dashboard {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.admin-section {
  margin-bottom: 30px;
}

.dashboard-summary {
  display: flex;
  justify-content: space-between;
}

.summary-item {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
  background-color: #f8f9fa;
}

.summary-item h3 {
  margin-bottom: 10px;
}

.property-listings,
.user-management {
  display: flex;
  justify-content: space-between;
}

.property-item,
.user-item {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
  background-color: #f8f9fa;
}

.property-item img,
.user-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Add more styles as needed */
